
body{
    width: 100vw;
    height: 100vh;
    background-image: url(images/logo.jpg );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.h-full{
    height: 100vh ;
}

.mt-40{
    margin-top: 40px ;
}

